body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.chart-wrapper {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 80em; 
}