body {
	background: lightgrey;
	font-family: sans-serif;
	color: black;
}

h2 {
	text-align: center;
	margin-bottom: 15px;
}

.container {
	max-width: 800px;
	margin: auto;
	margin-top: 50px;
	border: 2px solid brown;
	background-color: lightgoldenrodyellow;
	padding: 20px;
}


#input {
	width: 80%;
	height: 40px;
	font-size: 18px;
}


.container button {
	width: 100px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: orange;
	cursor: pointer;
	border-radius: 10px;
}

.container button:hover {
	background-color: lightgoldenrodyellow;
}

.list {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	height: 40px;
	font-size: 18px;
}

.close {
	position: fixed;
	float: right;
	
}
