* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {
	background-color: lightgray;
	background-size: cover;
	font-family: sans-serif;
	padding: 50px;
}

h1 {
	text-align: center;
	margin-bottom: 15px;

}

h3 {
	padding: 10px;
}

button {
	cursor: pointer;
	font-size: 20px;
	margin: 10px;
	padding: 7px;
    font-weight: bold;
}

.container {
	max-width: 350px;
	margin: auto;
	padding: 10px;
	border: 2px solid brown;
	border-radius: 30px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 15px;
}

.container img {
	height: 285px;
	width: 200px;
}

.container p {
	height: 5rem;
	padding: 5px;
	margin: 5px;
}

 

