html body {
	background-color: #111d29 ;
}

html body a {
	color: #b1d237 !important;
}

#SIvCob {
	color: #fff !important;
}

#SIvCob a {
	color: #b1d237 !important;
}

.sfbg {
	background-color: #111d29 !important;
}

.yg51vc {
	
	background-color: #111d29 !important;
}

.LHJvCe {
	
	background-color: #111d29 !important;
}

.WE0UJf {
	background-color: #111d29 !important;
}

.iUh30 {
	color: #fff !important;
}

.q8U8x {
	color: #fff !important;
}

.ksb {
	color: #fff !important;
}

.GmE3X {
	color: #fff !important;
}

cite {
	color: #fff !important;
}

.TbwUpd cite {
	color: #AA6939 !important; 
}

.z9gcx {
	color: #fff !important;
}